{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner thin {{- if ne false .Site.Params.usesAnimation }} animated fadeIn faster{{- end -}}">
		<h1>{{ .Title }}</h1>
		{{- if .Content }}<div class="content">{{ .Content }}</div>{{ end -}}

		<div class="collection-cards">
			{{- range .Data.Pages }}
			<a class="collection-card" href="{{ .Permalink }}">
				<span class="collection-card-title">{{ .Title }}</span>
				<span class="collection-card-meta">
					<span class="collection-card-byline">
						{{- with .Params.author }}{{ . }}{{ end -}}
						{{- if and .Params.author .Params.collectionType }} &middot; {{ end -}}
						{{- with .Params.collectionType }}{{ . }}{{ end -}}
					</span>
					<span class="collection-card-date">{{ .Date.Format "Jan 2006" }}</span>
				</span>
			</a>
			{{- end }}
		</div>
	</main>
{{ end }}

{{ define "footer" }}<footer id="site-footer" class="section-inner thin {{- if ne false .Site.Params.usesAnimation }} animated fadeIn faster {{- end -}}">{{- if templates.Exists "partials/list-footer.html" -}}{{- partialCached "list-footer.html" . -}}{{- else -}}{{- partial "footer.html" . -}}{{- end -}}</footer>
{{ end }}
